<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <a class="btn btn-primary btn-large" href="/restaurants">Check out all Restaurant Reviews</a>
        <div class="container">
            <h1>Welcome to TasteBuds !</h1>  
            <p>Check out you favorite Bloggers</p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% bloggers.forEach(function(blogger) { %>
            <% if(blogger.blogger === 'on') { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= blogger.image %>">
                        <div class="caption">
                            <h4><%= blogger.username %></h4>
                        </div>
                        <p>
                            <a href="/bloggers/<%= blogger._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
</div>
<% include ../partials/footer %>